body{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	line-height:23px;
	margin:0;
	padding:0;
	background:url(../../images/loginNew/login_panel.png) no-repeat 50% 0,url(../../images/loginNew/login_bg.png) repeat-x;
	color:#3b6e81;
	background-color: #011520;
}
	
.second_body{
	margin: 0 auto;
    margin-top: auto;
    padding-top: 110px;
    width: 302px;	
}

.title-zh{
    top: 60px;
    height: 45px;
    background: url(../../images/loginNew/system_name.png) no-repeat;
    width: 296px;
    margin: 0 auto;
    margin-top: 45px;
}

.title-en{
    position:absolute;
    top:70px;
    left:312px;
    color:#9aa5a9;
}

 .message{   
    position: absolute;
    top: 425px;
    color:red;
}

.logo{
    top: 0.4in;
    width: 156px;
    height: 121px;
    margin: 0 auto;
}

.table_user_pwd{
	width: 300px;
    margin-top: 10px;
}

.bg{
	background-color:blue !important;
  	border:1px ;
  	border:none;
}
input{
	margin:0;
	padding:0;
	color: white !important;
}

input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 100px #0E3E5C inset;
}

input.login,input.login2{
	width:291px;
	border:none;
	height:40px;
	vertical-align:text-bottom;
	background-color: #0E3E5C;
	border-radius: 4px;
	padding-left:9px;
	background:url(../../images/loginNew/input_bg.png);	
} 

.loginPwd{
	width:291px;
	border:none;
	height:40px;
	vertical-align:text-bottom;
	padding-right: 50px;
	width: 241px;
	margin-top: 10px;
	background-color: #0E3E5C;
	padding-left:9px;
	background:url(../../images/loginNew/input_bg.png);
	border-radius: 4px;	
}

.login_button{
	display: inline-block;
    width: 50px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 11px;
    right: 2px;
    background:url(../../images/loginNew/login_submit.png);
    border-style :none;
}

.reset_botton{
	width:58px;
	height:26px;
    line-height:26px;
	border:none;
	color:#FFF;
	font-weight:bold;
	background:url(../../images/login/login1.jpg);
	margin-left:15px;
}
.reset_botton{
	background:url(../../images/login/reset.jpg);
}
	
.bottom_img{
    margin: 0 auto;
    text-align: center;
    bottom: 20px;
    margin-top: 170px;
}
.bottom_content{
	margin: 0 auto;
    text-align: center;
    margin-top:20px; 
    color:white;
    font-size:13px;
    font-family:"Microsoft YaHei";
}
.loginButton{
	 position:relative;
}

.rememberMe{
	text-align: right;
}
.rememberMeFont{
	color: #fff;
    vertical-align: middle;
    margin-left: 5px;
}