#application {
    position: relative;
    overflow: auto;
    padding-top: 30px;
}

body {
    margin-left: 0px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #FFF;
    position: static;
}

.u1 {
    position: relative;
    Float: left;
    width: 176px;
    height: 205px;
    z-index: 1;
    background-color: #006699;
    margin-left: 30px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    border-radius: 7px;
    background: -webkit-linear-gradient(270deg, rgba(211, 229, 236, 1) 0%, rgba(211, 229, 236, 1) 0%, rgba(133, 174, 194, 1) 100%, rgba(133, 174, 194, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(211, 229, 236, 1) 0%, rgba(211, 229, 236, 1) 0%, rgba(133, 174, 194, 1) 100%, rgba(133, 174, 194, 1) 100%);
    background: linear-gradient(180deg, rgba(211, 229, 236, 1) 0%, rgba(211, 229, 236, 1) 0%, rgba(133, 174, 194, 1) 100%, rgba(133, 174, 194, 1) 100%);
}

.img {
    position: absolute;
    left: 6px;
    top: 50px;
    width: 155px;
    height: 155px;
}

.u3 {
    position: absolute;
    left: 10px;
    top: 153px;
    width: 88px;
    height: 42px;
    background-color: rgba(61, 125, 143, 0.5);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;

}

.u3:hover {
    background-color: rgba(0, 153, 51, .5);
}

.u4 {
    position: absolute;
    left: 108px;
    top: 153px;
    width: 56px;
    height: 42px;
    background-color: rgba(61, 125, 143, 0.5);

    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

.u4:hover {
    background-color: rgba(255, 51, 0, .5);
    border: none;
}

.p2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}

.name {
    position: absolute;
    width: 176px;
    height: 46px;
    background-color: rgba(10, 47, 70, .6);
    border-radius: 7px 7px 0 0;
}

.imgicon {
    margin-top: 8px;
    height: 26px;
    widows: 26px;
}

