<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elefirst.powerdetail.mapper.PowerDetailF25Mapper" >
  <resultMap id="BaseResultMap" type="com.elefirst.powerdetail.po.PowerDetailF25" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="concentrator_id" property="concentratorId" jdbcType="VARCHAR" />
    <result column="pn" property="pn" jdbcType="VARCHAR" />
    <result column="clientOperationTime" property="clientoperationtime" jdbcType="VARCHAR" />
    <result column="totalActivePower" property="totalactivepower" jdbcType="VARCHAR" />
    <result column="A_ActivePower" property="aActivepower" jdbcType="VARCHAR" />
    <result column="B_ActivePower" property="bActivepower" jdbcType="VARCHAR" />
    <result column="C_ActivePower" property="cActivepower" jdbcType="VARCHAR" />
    <result column="totalReactivePower" property="totalreactivepower" jdbcType="VARCHAR" />
    <result column="A_ReactivePower" property="aReactivepower" jdbcType="VARCHAR" />
    <result column="B_ReactivePower" property="bReactivepower" jdbcType="VARCHAR" />
    <result column="C_ReactivePower" property="cReactivepower" jdbcType="VARCHAR" />
    <result column="totalPowerFactor" property="totalpowerfactor" jdbcType="VARCHAR" />
    <result column="A_PowerFactor" property="aPowerfactor" jdbcType="VARCHAR" />
    <result column="B_PowerFactor" property="bPowerfactor" jdbcType="VARCHAR" />
    <result column="C_PowerFactor" property="cPowerfactor" jdbcType="VARCHAR" />
    <result column="A_Voltage" property="aVoltage" jdbcType="VARCHAR" />
    <result column="B_Voltage" property="bVoltage" jdbcType="VARCHAR" />
    <result column="C_Voltage" property="cVoltage" jdbcType="VARCHAR" />
    <result column="A_Current" property="aCurrent" jdbcType="VARCHAR" />
    <result column="B_Current" property="bCurrent" jdbcType="VARCHAR" />
    <result column="C_Current" property="cCurrent" jdbcType="VARCHAR" />
    <result column="Zero_Sequence_Current" property="zeroSequenceCurrent" jdbcType="VARCHAR" />
    <result column="totalApparentPower" property="totalapparentpower" jdbcType="VARCHAR" />
    <result column="A_ApparentPower" property="aApparentpower" jdbcType="VARCHAR" />
    <result column="B_ApparentPower" property="bApparentpower" jdbcType="VARCHAR" />
    <result column="C_ApparentPower" property="cApparentpower" jdbcType="VARCHAR" />
    <result column="sendTime" property="sendtime" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pt" property="pt" javaType="double" jdbcType="DOUBLE" />
    <result column="ct" property="ct" javaType="double" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, area_id, concentrator_id, pn, clientOperationTime, totalActivePower, A_ActivePower, 
    B_ActivePower, C_ActivePower, totalReactivePower, A_ReactivePower, B_ReactivePower, 
    C_ReactivePower, totalPowerFactor, A_PowerFactor, B_PowerFactor, C_PowerFactor, A_Voltage, 
    B_Voltage, C_Voltage, A_Current, B_Current, C_Current, Zero_Sequence_Current, totalApparentPower, 
    A_ApparentPower, B_ApparentPower, C_ApparentPower, sendTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.elefirst.powerdetail.po.PowerDetailF25Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_003_type_one_data_fn25
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart >=0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_003_type_one_data_fn25
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_003_type_one_data_fn25
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.elefirst.powerdetail.po.PowerDetailF25Example" >
    delete from t_003_type_one_data_fn25
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.elefirst.powerdetail.po.PowerDetailF25" >
    insert into t_003_type_one_data_fn25 (id, area_id, concentrator_id, 
      pn, clientOperationTime, totalActivePower, 
      A_ActivePower, B_ActivePower, C_ActivePower, 
      totalReactivePower, A_ReactivePower, B_ReactivePower, 
      C_ReactivePower, totalPowerFactor, A_PowerFactor, 
      B_PowerFactor, C_PowerFactor, A_Voltage, 
      B_Voltage, C_Voltage, A_Current, 
      B_Current, C_Current, Zero_Sequence_Current, 
      totalApparentPower, A_ApparentPower, B_ApparentPower, 
      C_ApparentPower, sendTime)
    values (#{id,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, #{concentratorId,jdbcType=VARCHAR}, 
      #{pn,jdbcType=VARCHAR}, #{clientoperationtime,jdbcType=VARCHAR}, #{totalactivepower,jdbcType=VARCHAR}, 
      #{aActivepower,jdbcType=VARCHAR}, #{bActivepower,jdbcType=VARCHAR}, #{cActivepower,jdbcType=VARCHAR}, 
      #{totalreactivepower,jdbcType=VARCHAR}, #{aReactivepower,jdbcType=VARCHAR}, #{bReactivepower,jdbcType=VARCHAR}, 
      #{cReactivepower,jdbcType=VARCHAR}, #{totalpowerfactor,jdbcType=VARCHAR}, #{aPowerfactor,jdbcType=VARCHAR}, 
      #{bPowerfactor,jdbcType=VARCHAR}, #{cPowerfactor,jdbcType=VARCHAR}, #{aVoltage,jdbcType=VARCHAR}, 
      #{bVoltage,jdbcType=VARCHAR}, #{cVoltage,jdbcType=VARCHAR}, #{aCurrent,jdbcType=VARCHAR}, 
      #{bCurrent,jdbcType=VARCHAR}, #{cCurrent,jdbcType=VARCHAR}, #{zeroSequenceCurrent,jdbcType=VARCHAR}, 
      #{totalapparentpower,jdbcType=VARCHAR}, #{aApparentpower,jdbcType=VARCHAR}, #{bApparentpower,jdbcType=VARCHAR}, 
      #{cApparentpower,jdbcType=VARCHAR}, #{sendtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.elefirst.powerdetail.po.PowerDetailF25" >
    insert into t_003_type_one_data_fn25
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="concentratorId != null" >
        concentrator_id,
      </if>
      <if test="pn != null" >
        pn,
      </if>
      <if test="clientoperationtime != null" >
        clientOperationTime,
      </if>
      <if test="totalactivepower != null" >
        totalActivePower,
      </if>
      <if test="aActivepower != null" >
        A_ActivePower,
      </if>
      <if test="bActivepower != null" >
        B_ActivePower,
      </if>
      <if test="cActivepower != null" >
        C_ActivePower,
      </if>
      <if test="totalreactivepower != null" >
        totalReactivePower,
      </if>
      <if test="aReactivepower != null" >
        A_ReactivePower,
      </if>
      <if test="bReactivepower != null" >
        B_ReactivePower,
      </if>
      <if test="cReactivepower != null" >
        C_ReactivePower,
      </if>
      <if test="totalpowerfactor != null" >
        totalPowerFactor,
      </if>
      <if test="aPowerfactor != null" >
        A_PowerFactor,
      </if>
      <if test="bPowerfactor != null" >
        B_PowerFactor,
      </if>
      <if test="cPowerfactor != null" >
        C_PowerFactor,
      </if>
      <if test="aVoltage != null" >
        A_Voltage,
      </if>
      <if test="bVoltage != null" >
        B_Voltage,
      </if>
      <if test="cVoltage != null" >
        C_Voltage,
      </if>
      <if test="aCurrent != null" >
        A_Current,
      </if>
      <if test="bCurrent != null" >
        B_Current,
      </if>
      <if test="cCurrent != null" >
        C_Current,
      </if>
      <if test="zeroSequenceCurrent != null" >
        Zero_Sequence_Current,
      </if>
      <if test="totalapparentpower != null" >
        totalApparentPower,
      </if>
      <if test="aApparentpower != null" >
        A_ApparentPower,
      </if>
      <if test="bApparentpower != null" >
        B_ApparentPower,
      </if>
      <if test="cApparentpower != null" >
        C_ApparentPower,
      </if>
      <if test="sendtime != null" >
        sendTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="concentratorId != null" >
        #{concentratorId,jdbcType=VARCHAR},
      </if>
      <if test="pn != null" >
        #{pn,jdbcType=VARCHAR},
      </if>
      <if test="clientoperationtime != null" >
        #{clientoperationtime,jdbcType=VARCHAR},
      </if>
      <if test="totalactivepower != null" >
        #{totalactivepower,jdbcType=VARCHAR},
      </if>
      <if test="aActivepower != null" >
        #{aActivepower,jdbcType=VARCHAR},
      </if>
      <if test="bActivepower != null" >
        #{bActivepower,jdbcType=VARCHAR},
      </if>
      <if test="cActivepower != null" >
        #{cActivepower,jdbcType=VARCHAR},
      </if>
      <if test="totalreactivepower != null" >
        #{totalreactivepower,jdbcType=VARCHAR},
      </if>
      <if test="aReactivepower != null" >
        #{aReactivepower,jdbcType=VARCHAR},
      </if>
      <if test="bReactivepower != null" >
        #{bReactivepower,jdbcType=VARCHAR},
      </if>
      <if test="cReactivepower != null" >
        #{cReactivepower,jdbcType=VARCHAR},
      </if>
      <if test="totalpowerfactor != null" >
        #{totalpowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="aPowerfactor != null" >
        #{aPowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="bPowerfactor != null" >
        #{bPowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="cPowerfactor != null" >
        #{cPowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="aVoltage != null" >
        #{aVoltage,jdbcType=VARCHAR},
      </if>
      <if test="bVoltage != null" >
        #{bVoltage,jdbcType=VARCHAR},
      </if>
      <if test="cVoltage != null" >
        #{cVoltage,jdbcType=VARCHAR},
      </if>
      <if test="aCurrent != null" >
        #{aCurrent,jdbcType=VARCHAR},
      </if>
      <if test="bCurrent != null" >
        #{bCurrent,jdbcType=VARCHAR},
      </if>
      <if test="cCurrent != null" >
        #{cCurrent,jdbcType=VARCHAR},
      </if>
      <if test="zeroSequenceCurrent != null" >
        #{zeroSequenceCurrent,jdbcType=VARCHAR},
      </if>
      <if test="totalapparentpower != null" >
        #{totalapparentpower,jdbcType=VARCHAR},
      </if>
      <if test="aApparentpower != null" >
        #{aApparentpower,jdbcType=VARCHAR},
      </if>
      <if test="bApparentpower != null" >
        #{bApparentpower,jdbcType=VARCHAR},
      </if>
      <if test="cApparentpower != null" >
        #{cApparentpower,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.elefirst.powerdetail.po.PowerDetailF25Example" resultType="java.lang.Integer" >
    select count(*) from t_003_type_one_data_fn25
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_003_type_one_data_fn25
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.areaId != null" >
        area_id = #{record.areaId,jdbcType=VARCHAR},
      </if>
      <if test="record.concentratorId != null" >
        concentrator_id = #{record.concentratorId,jdbcType=VARCHAR},
      </if>
      <if test="record.pn != null" >
        pn = #{record.pn,jdbcType=VARCHAR},
      </if>
      <if test="record.clientoperationtime != null" >
        clientOperationTime = #{record.clientoperationtime,jdbcType=VARCHAR},
      </if>
      <if test="record.totalactivepower != null" >
        totalActivePower = #{record.totalactivepower,jdbcType=VARCHAR},
      </if>
      <if test="record.aActivepower != null" >
        A_ActivePower = #{record.aActivepower,jdbcType=VARCHAR},
      </if>
      <if test="record.bActivepower != null" >
        B_ActivePower = #{record.bActivepower,jdbcType=VARCHAR},
      </if>
      <if test="record.cActivepower != null" >
        C_ActivePower = #{record.cActivepower,jdbcType=VARCHAR},
      </if>
      <if test="record.totalreactivepower != null" >
        totalReactivePower = #{record.totalreactivepower,jdbcType=VARCHAR},
      </if>
      <if test="record.aReactivepower != null" >
        A_ReactivePower = #{record.aReactivepower,jdbcType=VARCHAR},
      </if>
      <if test="record.bReactivepower != null" >
        B_ReactivePower = #{record.bReactivepower,jdbcType=VARCHAR},
      </if>
      <if test="record.cReactivepower != null" >
        C_ReactivePower = #{record.cReactivepower,jdbcType=VARCHAR},
      </if>
      <if test="record.totalpowerfactor != null" >
        totalPowerFactor = #{record.totalpowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="record.aPowerfactor != null" >
        A_PowerFactor = #{record.aPowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="record.bPowerfactor != null" >
        B_PowerFactor = #{record.bPowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="record.cPowerfactor != null" >
        C_PowerFactor = #{record.cPowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="record.aVoltage != null" >
        A_Voltage = #{record.aVoltage,jdbcType=VARCHAR},
      </if>
      <if test="record.bVoltage != null" >
        B_Voltage = #{record.bVoltage,jdbcType=VARCHAR},
      </if>
      <if test="record.cVoltage != null" >
        C_Voltage = #{record.cVoltage,jdbcType=VARCHAR},
      </if>
      <if test="record.aCurrent != null" >
        A_Current = #{record.aCurrent,jdbcType=VARCHAR},
      </if>
      <if test="record.bCurrent != null" >
        B_Current = #{record.bCurrent,jdbcType=VARCHAR},
      </if>
      <if test="record.cCurrent != null" >
        C_Current = #{record.cCurrent,jdbcType=VARCHAR},
      </if>
      <if test="record.zeroSequenceCurrent != null" >
        Zero_Sequence_Current = #{record.zeroSequenceCurrent,jdbcType=VARCHAR},
      </if>
      <if test="record.totalapparentpower != null" >
        totalApparentPower = #{record.totalapparentpower,jdbcType=VARCHAR},
      </if>
      <if test="record.aApparentpower != null" >
        A_ApparentPower = #{record.aApparentpower,jdbcType=VARCHAR},
      </if>
      <if test="record.bApparentpower != null" >
        B_ApparentPower = #{record.bApparentpower,jdbcType=VARCHAR},
      </if>
      <if test="record.cApparentpower != null" >
        C_ApparentPower = #{record.cApparentpower,jdbcType=VARCHAR},
      </if>
      <if test="record.sendtime != null" >
        sendTime = #{record.sendtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_003_type_one_data_fn25
    set id = #{record.id,jdbcType=VARCHAR},
      area_id = #{record.areaId,jdbcType=VARCHAR},
      concentrator_id = #{record.concentratorId,jdbcType=VARCHAR},
      pn = #{record.pn,jdbcType=VARCHAR},
      clientOperationTime = #{record.clientoperationtime,jdbcType=VARCHAR},
      totalActivePower = #{record.totalactivepower,jdbcType=VARCHAR},
      A_ActivePower = #{record.aActivepower,jdbcType=VARCHAR},
      B_ActivePower = #{record.bActivepower,jdbcType=VARCHAR},
      C_ActivePower = #{record.cActivepower,jdbcType=VARCHAR},
      totalReactivePower = #{record.totalreactivepower,jdbcType=VARCHAR},
      A_ReactivePower = #{record.aReactivepower,jdbcType=VARCHAR},
      B_ReactivePower = #{record.bReactivepower,jdbcType=VARCHAR},
      C_ReactivePower = #{record.cReactivepower,jdbcType=VARCHAR},
      totalPowerFactor = #{record.totalpowerfactor,jdbcType=VARCHAR},
      A_PowerFactor = #{record.aPowerfactor,jdbcType=VARCHAR},
      B_PowerFactor = #{record.bPowerfactor,jdbcType=VARCHAR},
      C_PowerFactor = #{record.cPowerfactor,jdbcType=VARCHAR},
      A_Voltage = #{record.aVoltage,jdbcType=VARCHAR},
      B_Voltage = #{record.bVoltage,jdbcType=VARCHAR},
      C_Voltage = #{record.cVoltage,jdbcType=VARCHAR},
      A_Current = #{record.aCurrent,jdbcType=VARCHAR},
      B_Current = #{record.bCurrent,jdbcType=VARCHAR},
      C_Current = #{record.cCurrent,jdbcType=VARCHAR},
      Zero_Sequence_Current = #{record.zeroSequenceCurrent,jdbcType=VARCHAR},
      totalApparentPower = #{record.totalapparentpower,jdbcType=VARCHAR},
      A_ApparentPower = #{record.aApparentpower,jdbcType=VARCHAR},
      B_ApparentPower = #{record.bApparentpower,jdbcType=VARCHAR},
      C_ApparentPower = #{record.cApparentpower,jdbcType=VARCHAR},
      sendTime = #{record.sendtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.elefirst.powerdetail.po.PowerDetailF25" >
    update t_003_type_one_data_fn25
    <set >
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="concentratorId != null" >
        concentrator_id = #{concentratorId,jdbcType=VARCHAR},
      </if>
      <if test="pn != null" >
        pn = #{pn,jdbcType=VARCHAR},
      </if>
      <if test="clientoperationtime != null" >
        clientOperationTime = #{clientoperationtime,jdbcType=VARCHAR},
      </if>
      <if test="totalactivepower != null" >
        totalActivePower = #{totalactivepower,jdbcType=VARCHAR},
      </if>
      <if test="aActivepower != null" >
        A_ActivePower = #{aActivepower,jdbcType=VARCHAR},
      </if>
      <if test="bActivepower != null" >
        B_ActivePower = #{bActivepower,jdbcType=VARCHAR},
      </if>
      <if test="cActivepower != null" >
        C_ActivePower = #{cActivepower,jdbcType=VARCHAR},
      </if>
      <if test="totalreactivepower != null" >
        totalReactivePower = #{totalreactivepower,jdbcType=VARCHAR},
      </if>
      <if test="aReactivepower != null" >
        A_ReactivePower = #{aReactivepower,jdbcType=VARCHAR},
      </if>
      <if test="bReactivepower != null" >
        B_ReactivePower = #{bReactivepower,jdbcType=VARCHAR},
      </if>
      <if test="cReactivepower != null" >
        C_ReactivePower = #{cReactivepower,jdbcType=VARCHAR},
      </if>
      <if test="totalpowerfactor != null" >
        totalPowerFactor = #{totalpowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="aPowerfactor != null" >
        A_PowerFactor = #{aPowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="bPowerfactor != null" >
        B_PowerFactor = #{bPowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="cPowerfactor != null" >
        C_PowerFactor = #{cPowerfactor,jdbcType=VARCHAR},
      </if>
      <if test="aVoltage != null" >
        A_Voltage = #{aVoltage,jdbcType=VARCHAR},
      </if>
      <if test="bVoltage != null" >
        B_Voltage = #{bVoltage,jdbcType=VARCHAR},
      </if>
      <if test="cVoltage != null" >
        C_Voltage = #{cVoltage,jdbcType=VARCHAR},
      </if>
      <if test="aCurrent != null" >
        A_Current = #{aCurrent,jdbcType=VARCHAR},
      </if>
      <if test="bCurrent != null" >
        B_Current = #{bCurrent,jdbcType=VARCHAR},
      </if>
      <if test="cCurrent != null" >
        C_Current = #{cCurrent,jdbcType=VARCHAR},
      </if>
      <if test="zeroSequenceCurrent != null" >
        Zero_Sequence_Current = #{zeroSequenceCurrent,jdbcType=VARCHAR},
      </if>
      <if test="totalapparentpower != null" >
        totalApparentPower = #{totalapparentpower,jdbcType=VARCHAR},
      </if>
      <if test="aApparentpower != null" >
        A_ApparentPower = #{aApparentpower,jdbcType=VARCHAR},
      </if>
      <if test="bApparentpower != null" >
        B_ApparentPower = #{bApparentpower,jdbcType=VARCHAR},
      </if>
      <if test="cApparentpower != null" >
        C_ApparentPower = #{cApparentpower,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        sendTime = #{sendtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elefirst.powerdetail.po.PowerDetailF25" >
    update t_003_type_one_data_fn25
    set area_id = #{areaId,jdbcType=VARCHAR},
      concentrator_id = #{concentratorId,jdbcType=VARCHAR},
      pn = #{pn,jdbcType=VARCHAR},
      clientOperationTime = #{clientoperationtime,jdbcType=VARCHAR},
      totalActivePower = #{totalactivepower,jdbcType=VARCHAR},
      A_ActivePower = #{aActivepower,jdbcType=VARCHAR},
      B_ActivePower = #{bActivepower,jdbcType=VARCHAR},
      C_ActivePower = #{cActivepower,jdbcType=VARCHAR},
      totalReactivePower = #{totalreactivepower,jdbcType=VARCHAR},
      A_ReactivePower = #{aReactivepower,jdbcType=VARCHAR},
      B_ReactivePower = #{bReactivepower,jdbcType=VARCHAR},
      C_ReactivePower = #{cReactivepower,jdbcType=VARCHAR},
      totalPowerFactor = #{totalpowerfactor,jdbcType=VARCHAR},
      A_PowerFactor = #{aPowerfactor,jdbcType=VARCHAR},
      B_PowerFactor = #{bPowerfactor,jdbcType=VARCHAR},
      C_PowerFactor = #{cPowerfactor,jdbcType=VARCHAR},
      A_Voltage = #{aVoltage,jdbcType=VARCHAR},
      B_Voltage = #{bVoltage,jdbcType=VARCHAR},
      C_Voltage = #{cVoltage,jdbcType=VARCHAR},
      A_Current = #{aCurrent,jdbcType=VARCHAR},
      B_Current = #{bCurrent,jdbcType=VARCHAR},
      C_Current = #{cCurrent,jdbcType=VARCHAR},
      Zero_Sequence_Current = #{zeroSequenceCurrent,jdbcType=VARCHAR},
      totalApparentPower = #{totalapparentpower,jdbcType=VARCHAR},
      A_ApparentPower = #{aApparentpower,jdbcType=VARCHAR},
      B_ApparentPower = #{bApparentpower,jdbcType=VARCHAR},
      C_ApparentPower = #{cApparentpower,jdbcType=VARCHAR},
      sendTime = #{sendtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 自定义获取每个区域下相关集线器对应的监测点最新一条电力记录数(根据发送时间) -->
  <select id="myselectByExample" resultMap="BaseResultMap">
	select a.*,c.`name`,c.ct,c.pt from t_003_type_one_data_fn25 a,(select concentrator_id,pn,max(clientOperationTime + 0) clientOperationTime from t_003_type_one_data_fn25 group by concentrator_id,pn) b ,t_202_pn_info c where a.concentrator_id = b.concentrator_id and a.pn = b.pn and a.clientOperationTime = b.clientOperationTime and  b.concentrator_id = c.concentrator_id and b.pn = c.pn
	<if test="areaId!= null and areaId!= ''">
		  and a.area_id = #{areaId ,jdbcType=VARCHAR} 
	</if>
	<if test="concentratorIds!= null and concentratorIds!= ''">
		  and a.concentrator_id in
		  <foreach item="item" index="index" collection="concentratorIds" open="(" separator="," close=")">  
	      		#{item}  
	      </foreach>
	</if>
	order by a.concentrator_id
	<if test="limitStart != null and limitStart >=0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  
  <!-- 获取每个区域下相关集线器对应的监测点总数 -->
  <select id="myselectByExampleCount" resultType="int">
    select count(1) as num from t_003_type_one_data_fn25 a,(select concentrator_id,pn,max(clientOperationTime + 0) clientOperationTime from t_003_type_one_data_fn25 group by concentrator_id,pn) b ,t_202_pn_info c where a.concentrator_id = b.concentrator_id and a.pn = b.pn and a.clientOperationTime = b.clientOperationTime and  b.concentrator_id = c.concentrator_id and b.pn = c.pn
	<if test="areaId!= null and areaId!= ''">
		  and a.area_id = #{areaId ,jdbcType=VARCHAR} 
	</if>
	<if test="concentratorIds!= null and concentratorIds!= ''">
		  and a.concentrator_id in
		  <foreach item="item" index="index" collection="concentratorIds" open="(" separator="," close=")">  
	      		#{item}  
	      </foreach>
	</if>
  </select>
  <!-- 获取每个监测点下最大和最小电压 -->
  <select id="queryVoltageDetail" resultType="com.elefirst.powerdetail.po.VoltageDetail">
    select max(a.A_Voltage + 0)*b.pt as maxAVoltage,max(a.B_Voltage + 0)*b.pt as maxBVoltage,max(a.C_Voltage + 0)*b.pt as maxCVoltage,min(a.A_Voltage + 0)*b.pt as minAVoltage,min(a.B_Voltage + 0)*b.pt as minBVoltage,min(a.C_Voltage + 0)*b.pt as minCVoltage ,ROUND(max(a.A_Voltage + 0),1) as orgMaxAVoltage,ROUND(max(a.B_Voltage + 0),1) as orgMaxBVoltage,ROUND(max(a.C_Voltage + 0),1) as orgMaxCVoltage,ROUND(min(a.A_Voltage + 0),1) as orgMinAVoltage,ROUND(min(a.B_Voltage + 0),1) as orgMinBVoltage,ROUND(min(a.C_Voltage + 0),1) as orgMinCVoltage from t_003_type_one_data_fn25 a,t_202_pn_info b where 1=1 and a.area_id = b.area_id and a.concentrator_id = b.concentrator_id and a.pn = b.pn
	<if test="areaId!= null and areaId!= ''">
		  and a.area_id = #{areaId ,jdbcType=VARCHAR} 
	</if>
	<if test="concentratorId!= null and concentratorId!= ''">
		  and a.concentrator_id = #{concentratorId ,jdbcType=VARCHAR}
	</if>
	<if test="pn!= null and pn!= ''">
		  and a.pn = #{pn ,jdbcType=VARCHAR}
	</if>
	<if test="date!= null and date!= ''">
		  and a.clientOperationTime like CONCAT(#{date ,jdbcType=VARCHAR},'%')
	</if>
  </select>
  
  <!-- 获取每个监测点下最大和最小电流-->
  <select id="queryCurrentDetail" resultType="com.elefirst.powerdetail.po.CurrentDetail">
	select max(a.A_Current + 0)*b.ct as maxACurrent,max(a.B_Current + 0)*b.ct as maxBCurrent,max(a.C_Current + 0)*b.ct as maxCCurrent,min(a.A_Current + 0)*b.ct as minACurrent,min(a.B_Current + 0)*b.ct as minBCurrent,min(a.C_Current + 0)*b.ct as minCCurrent  ,ROUND(max(a.A_Current + 0),3) as orgMaxACurrent,ROUND(max(a.B_Current + 0),3) as orgMaxBCurrent,ROUND(max(a.C_Current + 0),3) as orgMaxCCurrent,ROUND(min(a.A_Current + 0),3) as orgMinACurrent,ROUND(min(a.B_Current + 0),3) as orgMinBCurrent,ROUND(min(a.C_Current + 0),3) as orgMinCCurrent from t_003_type_one_data_fn25 a ,t_202_pn_info b where 1=1 and a.area_id = b.area_id and a.concentrator_id = b.concentrator_id and a.pn = b.pn	
	<if test="areaId!= null and areaId!= ''">
		  and a.area_id = #{areaId ,jdbcType=VARCHAR} 
	</if>
	<if test="concentratorId!= null and concentratorId!= ''">
		  and a.concentrator_id = #{concentratorId ,jdbcType=VARCHAR}
	</if>
	<if test="pn!= null and pn!= ''">
		  and a.pn = #{pn ,jdbcType=VARCHAR}
	</if>
	<if test="date!= null and date!= ''">
		  and a.clientOperationTime like CONCAT(#{date ,jdbcType=VARCHAR},'%')
	</if>
  </select>
  
  <!-- 获取每个监测点下最大和最小功率因素-->
  <select id="queryPowerFactorDetail" resultType="com.elefirst.powerdetail.po.PowerFactorDetail">
	select max(a.A_PowerFactor + 0) as maxAPowerFactor,max(a.B_PowerFactor + 0) as maxBPowerFactor,max(a.C_PowerFactor + 0) as maxCPowerFactor,max(a.totalPowerFactor + 0)  as maxTotalPowerFactor,min(a.A_PowerFactor + 0) as minAPowerFactor,min(a.B_PowerFactor + 0) as minBPowerFactor,min(a.C_PowerFactor + 0) as minCPowerFactor,min(a.totalPowerFactor + 0) as minTotalPowerFactor, ROUND(max(a.A_PowerFactor + 0),1) as orgMaxAPowerFactor,ROUND(max(a.B_PowerFactor + 0),1) as orgMaxBPowerFactor,ROUND(max(a.C_PowerFactor + 0),1) as orgMaxCPowerFactor,ROUND(max(a.totalPowerFactor + 0),1)  as orgMaxTotalPowerFactor,ROUND(min(a.A_PowerFactor + 0),1) as orgMinAPowerFactor,ROUND(min(a.B_PowerFactor + 0),1) as orgMinBPowerFactor,ROUND(min(a.C_PowerFactor + 0),1) as orgMinCPowerFactor,ROUND(min(a.totalPowerFactor + 0),1) as orgMinTotalPowerFactor from t_003_type_one_data_fn25 a where 1=1	
	<if test="areaId!= null and areaId!= ''">
		  and a.area_id = #{areaId ,jdbcType=VARCHAR} 
	</if>
	<if test="concentratorId!= null and concentratorId!= ''">
		  and a.concentrator_id = #{concentratorId ,jdbcType=VARCHAR}
	</if>
	<if test="pn!= null and pn!= ''">
		  and a.pn = #{pn ,jdbcType=VARCHAR}
	</if>
	<if test="date!= null and date!= ''">
		  and a.clientOperationTime like CONCAT(#{date ,jdbcType=VARCHAR},'%')
	</if>
  </select>
  <!-- 获取每个监测点下最大,最小以及平均负荷-->
  <select id="queryTotalActivePowerDetail" resultType="com.elefirst.powerdetail.po.TotalActivePowerDetail">
	select max((a.totalActivePower + 0)*b.pt*b.ct) as maxTotalActivePower, min((a.totalActivePower + 0)*b.pt*b.ct) as minTotalActivePower,ROUND(avg((a.totalActivePower + 0)*b.pt*b.ct),2) as avgTotalActivePower,ROUND(max(a.totalActivePower + 0),4) as orgMaxTotalActivePower, ROUND(min(a.totalActivePower + 0),4) as orgMinTotalActivePower from t_003_type_one_data_fn25 a ,t_202_pn_info b where 1=1 and a.area_id = b.area_id and a.concentrator_id = b.concentrator_id and a.pn = b.pn and a.totalActivePower is not NULL	
	<if test="areaId!= null and areaId!= ''">
		  and a.area_id = #{areaId ,jdbcType=VARCHAR} 
	</if>
	<if test="concentratorId!= null and concentratorId!= ''">
		  and a.concentrator_id = #{concentratorId ,jdbcType=VARCHAR}
	</if>
	<if test="pn!= null and pn!= ''">
		  and a.pn = #{pn ,jdbcType=VARCHAR}
	</if>
	<if test="date!= null and date!= ''">
		  and a.clientOperationTime like CONCAT(#{date ,jdbcType=VARCHAR},'%')
	</if>
  </select>
</mapper>